/*! normaliser.css v8.0.1 | | de licence MIT github.com/necolas/normalize.css */

/* Document
===========
*/

/**
 * 1. Corrigez la hauteur de ligne dans tous les navigateurs.
 * 2. Empêchez les ajustements de la taille de la police après les changements d’orientation dans iOS.
*/

html 
{
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}
  
/* Sections
===========
*/
  
/**
 * Supprimer la marge dans tous les navigateurs.
 */
  
 body 
 {
    margin: 0;
}
  
/**
* Restituez l’élément 'main' de manière cohérente dans IE.
*/

main 
{
    display: block;
}
  
/**
 * Corrigez la taille de la police et la marge sur les éléments 'h1' dans 'section' et
 * Contextes 'article' dans Chrome, Firefox et Safari.
*/
  
h1 
{
    font-size: 2em;
    margin: 0.67em 0;
}
  
/* Regroupement du contenu
======================== 
*/
  
/**
 * 1. Ajoutez le bon dimensionnement de boîte dans Firefox.
 * 2. Afficher le débordement dans Edge et IE.
*/

hr 
{
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}
  
/**
 * 1. Corrigez l’héritage et la mise à l’échelle de la taille de la police dans tous les navigateurs.
 * 2. Corrigez le dimensionnement de la police dans tous les navigateurs.
*/
  
pre
{
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}
  
/* Sémantique au niveau du texte
==================== 
*/
  
/**
 * Supprimez l’arrière-plan gris sur les liens actifs dans IE 10.
*/
  
a 
{
    background-color: transparent;
}
  
/**
 * 1. Supprimer la bordure inférieure dans Chrome 57-
 * 2. Ajoutez la décoration de texte correcte dans Chrome, Edge, IE, Opera et Safari.
*/
  
abbr[title] 
{
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}
  
 /**
 * Ajoutez le poids de police correct dans Chrome, Edge et Safari.
*/
  
b,strong 
{
    font-weight: bolder;
}
  
/**
 * 1. Corrigez l’héritage et la mise à l’échelle de la taille de la police dans tous les navigateurs.
 * 2. Corrigez le dimensionnement de la police dans tous les navigateurs.
*/
  
code,kbd,samp 
{
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}
  
/**
 * Ajoutez la taille de police correcte dans tous les navigateurs.
*/
  
small 
{
    font-size: 80%;
}
  
/**
 * Empêcher les éléments 'sub' et 'sup' d’affecter la hauteur de la ligne dans
 * tous les navigateurs.
*/
  
sub,sup 
{
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
  
sub 
{
    bottom: -0.25em;
}
  
sup 
{
    top: -0.5em;
}
  

/* Contenu intégré
==================
*/
  
/**
* Supprimez la bordure sur les images à l’intérieur des liens dans IE 10.
*/

img 
{
    border-style: none;
}
  
/* Formulaires
============
*/
  
/**
 * 1. Modifiez les styles de police dans tous les navigateurs.
 * 2. Supprimez la marge dans Firefox et Safari.
*/
  
button,input,optgroup,select,textarea 
{
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}
  
/**
 * Afficher le débordement dans IE.
 * 1. Afficher le débordement dans Edge.
*/
  
button,
input 
{ /* 1 */
    overflow: visible;
}
  
/**
Supprimez l’héritage de la transformation de texte dans Edge, Firefox et IE.
1. Supprimer l’héritage de la transformation de texte dans Firefox.
*/

button,
select 
{ /* 1 */
    text-transform: none;
}
  
/**
 Corrigez l’impossibilité de styliser les types cliquables dans iOS et Safari.
*/
  
button,
[type="button"],
[type="reset"],
[type="submit"] 
{
    -webkit-appearance: button;
}
  
/**
 Supprimez la bordure intérieure et le rembourrage dans Firefox.
 */
  
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner 
{
    border-style: none;
    padding: 0;
}
  
/**
 * Restaurez les styles de focus non définis par la règle précédente.
*/
  
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring 
{
    outline: 1px dotted ButtonText;
}
  
 /**
 * Corrigez le remplissage dans Firefox.
*/
  
fieldset 
{
    padding: 0.35em 0.75em 0.625em;
}
  
/**
 * 1. Corrigez l’habillage du texte dans Edge et IE.
 * 2. Corrigez l’héritage des couleurs des éléments 'fieldset' dans IE.
 * 3. Retirez le rembourrage afin que les développeurs ne soient pas pris au dépourvu lorsqu’ils se mettent à zéro.
 * éléments 'fieldset' dans tous les navigateurs.
*/
  
legend 
{
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}
  
 /**
 * Ajoutez l’alignement vertical correct dans Chrome, Firefox et Opera.
*/
  
progress 
{
    vertical-align: baseline;
}
  
/**
 * Supprimez la barre de défilement verticale par défaut dans IE 10+.
*/
  
textarea 
{
    overflow: auto;
}
  
/**
 * 1. Ajoutez le dimensionnement de boîte correct dans IE 10.
 * 2. Retirez le rembourrage dans IE 10.
*/
  
[type="checkbox"],
[type="radio"] 
{
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}
  
/**
Corrigez le style du curseur des boutons d’incrémentation et de décrémentation dans Chrome.
*/
  
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button 
{
    height: auto;
}
  
/**
 * 1. Corrigez l’apparence étrange dans Chrome et Safari.
 * 2. Corrigez le style de contour dans Safari.
*/
  
[type="search"] 
{
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}
  
/**
Retirez le rembourrage intérieur dans Chrome et Safari sur macOS.
*/
  
[type="search"]::-webkit-search-decoration 
{
    -webkit-appearance: none;
}
  
/**
* 1. Corrigez l'impossibilité de styliser les types cliquables dans iOS and Safari.
* 2. Modifiez les propriétés de police en « hériter » dans Safari.
*/
  
::-webkit-file-upload-button 
{
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}
  
/* Interactif
==================
*/

/*
Ajoutez l'affichage correct dans Edge, IE 10+, and Firefox.
*/
  
details 
{
    display: block;
}
  
/*
Ajoutez l'affichage correct dans tous les navigateurs.
*/
  
summary 
{
    display: list-item;
}
  
/* divers
=================== 
*/
  
/**
Affichez l'affichage correct dans IE 10+.
**/
  
template 
{
    display: none;
}
  
/**
 Ajoutez l'affichage correct dans IE 10.
**/
  
[hidden] 
{
   display: none;
}